.*.swp
*.o
Makefile
Makefile.in
.deps

/autom4te.cache
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/fakeroot-ng
/install-sh
/missing
/stamp-h1
/INSTALL

# Out of tree build directories
/build_*
